ACTION 2 - suggest redesigning request_helper.py class by using apache tika

 (Dataset 136-1) https://data.dtu.dk/articles/Data_for_the_paper_A_dual_reporter_system_for_investigating_and_optimizing_translation_and_folding_in_E_coli_/10265420

content-type of the response (data page) is NULL. according to https://tools.ietf.org/html/rfc7231#section-3.1.1.5,  
A sender that generates a message containing a payload body SHOULD generate a Content-Type header field in that message unless the intended media type of the enclosed representation is unknown to the sender.  If a Content-Type header field is not present, the recipient MAY either assume a media type of "application/octet-stream" ([RFC2046], Section 4.5.1) or examine the data to determine its type.

**ACTION 2** - suggest redesigning request_helper.py class by using apache tika to infer the content type; see example of snippet below:
```
from tika import parser
parsedFile = parser.from_file(self.request_url )
status = parsedFile.get("status")
tika_content_types = parsedFile.get("metadata").get('Content-Type')
```

done